<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert-message block-message error">
    <p><strong>Oh snap! You got an error!</strong></p>
    <h3><%= pluralize(@user.errors.count, "error") %> found, please correct it:</h3>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="clearfix">
      <label><%= f.label :name %></label>
      <div class="input"><%= f.text_field :name %></div>
    </div>
    <div class="clearfix">
      <label><%= f.label :email %></label>
      <div class="input"><%= f.text_field :email %></div>
    </div>
    <div class="clearfix">
      <label><%= f.label :password %></label>
      <div class="input"><%= f.password_field :password, :value => "" %></div>
    </div>
    <% if signed_in? && is_admin?(@current_user) %>
    <div class="clearfix">
      <label><%= f.label :role %></label>
      <div class="input">
      <%= f.select :role, [["Student", "student"], ["Teacher", "teacher"], ["Admin", "admin"]] %>
      </div>
    </div>
    <% end %>
    <div class="clearfix">
      <label><%= f.label :about %></label>
      <div class="input">
        <%= f.text_area :about, :class => "xlarge", :rows => "3" %>
        <span class="help-block"> Write something about yourself. </span>
      </div>
    </div>
    <div class="actions">
      <input id="user_submit" name="commit" type="submit" value="Submit" class="btn primary">
    </div>
<% end %>
